{% extends "base.html" %}

{% block meta %}
<title>
	About Srihari Maneru
</title>
{% endblock meta %}


{% block content %}
<br>
<h2>About me</h2>
<p>Basic</p>
<p class="sub-detail">Indian | Male | 26 | Tirupathi </p>
<p>Education</p>
<p class="sub-detail">NITW | CSE | 2004-2008</p>
<p>Work</p>
<p class="sub-detail"><a href="http://www.almabase.com/?src=sm.com" target="_blank">AlmaBase</a> | Co-Founder & CEO | 2014 - Present </p>
<p class="sub-detail"><a href="http://www.thelakshyafoundation.org" target="_blank">Lakshya</a> | Co-Founder & Trustee | 2008 - Present </p>
<p>Interests</p>
<p class="sub-detail">Technical Entreprenuership | Will be pursuing for 10-15 years</p>
<p class="sub-detail">Politics and Social Space | Around 10-15 years from now, will be getting in to this full-time to fullfill <a href="/blog/my-life-dream">my life dream</a></p>
{% endblock content %}