{% extends "base.html" %}

{% block content %}
<br>
<h2>About me</h2>
<p>Basic</p>
<p class="sub-detail">Indian | Male | 26 | Tirupathi </p>
<p>Education</p>
<p class="sub-detail">NITW | CSE | 2004-2008</p>
<p>Work</p>
<p class="sub-detail"><a href="http://www.thelakshyafoundation.org" target="_blank">Lakshya</a> | Co-founder & Trustee | 2008 - Present </p>
<p class="sub-detail"><a href="http://www.strandls.com" target="_blank">Strand</a>  | Software Engineer | 2008 - 2010 </p>
<p class="sub-detail"><a href="http://www.rangde.org" target="_blank">RangDe</a> | Vice President | 2010 - 2011</p>
<p class="sub-detail"><a href="http://www.boltell.com" target="_blank">Boltell</a> | Software Engineer | 2011 - Present </p>
<p>Interests</p>
<p class="sub-detail">Technical Entreprenuership | Will be pursuing for 10-15 years</p>
<p class="sub-detail">Politics and Social Space | Around 10-15 years from now, will be getting in to this full-time to fullfill <a href="/my-life-dream">my life dream</a></p>


{% endblock content %}