{% extends "base.html" %}

{% block content_wrapper %}
<div id="home">
	<div id="home_content">

		I am Srihari Maneru and firstly thanks for taking time to visit my website		
		<p>Currently, </p>
		<ul>
			<li>working for <a href="http://www.boltell.com" target="_blank">Boltell</a>, a Bangalore based start-up</li>
			<li>co-founder and trustee of <a href="http://www.thelakshyafoundation.org" target="_blank">Lakshya</a>, a non-profit working for NIT Warangal</li>
		</ul>
		<p>Quite passionate about technical entrepreneurship and will be pursuing it for 10-15 years</p>
		<p>Then, will be joining politics full-time to fulfill <a href="/blog/my-life-dream">my life dream</a> </p> 
</div>
</div>
{% endblock content_wrapper %}